# Enable rewrite engine
RewriteEngine On
RewriteBase /

# Force HTTPS
RewriteCond %{ENV:HTTPS} !^.*on
RewriteRule ^(.*)$ https://conax.cz/$1 [R,L]

# Automatically add the `.php` extension to a filename if the type is ambiguous
# and a PHP file with the same name exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# Redirects
Redirect /conbot https://discord.com/api/oauth2/authorize?client_id=620175026972393472&permissions=8&scope=bot
Redirect /osmium https://discord.com/api/oauth2/authorize?client_id=866703310350057482&permissions=8&scope=bot+applications.commands

# Set `index.php` as the default page
DirectoryIndex index.php

# Disable directory browsing
Options -Indexes
# Prevent directory listing
IndexIgnore *

# Forbid access to files starting with `.`
RewriteRule (^\.|/\.) - [F,L]
# Forbid access to secret directories
RewriteRule ^includes - [F,L]
RewriteRule ^logs - [F,L]

# Set custom client error pages
ErrorDocument 400 /errors/e400.php
ErrorDocument 401 /errors/e401.php
ErrorDocument 403 /errors/e403.php
ErrorDocument 404 /errors/e404.php
# Set custom server error pages
ErrorDocument 500 /errors/e500.php

# Enable caching
ExpiresActive On
# Default expiration - 5 minutes
ExpiresDefault A300
# CSS and JS - 2 days
ExpiresByType text/css               A172800
ExpiresByType application/javascript A172800
# Images - 1 year
ExpiresByType image/gif    A31536000
ExpiresByType image/jpeg   A31536000
ExpiresByType image/png    A31536000
ExpiresByType image/x-icon A31536000

# Compression
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip
